# Node specific information
NODES=({{ olvm_vmname }} {{ olvm_vmname2 }})
NODEIPS=({{ olvm_nodeip }} {{ olvm_nodeip2 }})
NODEPRIVS=({{ olvm_vmname }}-priv {{ olvm_vmname2 }}-priv)
NODEPRIVIPS=({{ olvm_nodeprivips1 olvm_nodeprivips2}})
NODEVIPS=({{ olvm_vmname }}-vip {{ olvm_vmname2 }}-vip)
NODEVIPIPS=({{ olvm_nodevipips1 }} {{ olvm_nodevipips2 }})

# Common data
PUBADAP=eth0
PUBMASK=255.255.255.0
PUBGW=10.243.248.1
PRIVADAP=eth1
PRIVMASK=255.255.255.0
RACCLUSTERNAME=atdr
DOMAINNAME=supporting.devmandiri.co.id  # May be blank
DNSIP="10.243.132.27"  # Starting from 2013 Templates allows multi value
# Device used to transfer network information to second node
# in interview mode
NETCONFIG_DEV=/dev/sdz
# RAC specific data
SCANNAME=autodbdr
SCANIP=10.243.248.71
CLONE_ALLOW_SCAN_NOT_IN_DNS=yes

# 12c Flex parameters (uncomment to take effect)
#FLEX_CLUSTER=yes  # If 'yes' implies Flex ASM as well
#FLEX_ASM=yes
#ASMADAP=eth2  # Must be different than private/public
#ASMMASK=255.255.0.0
#NODE1ASMIP=10.11.0.231
#NODE2ASMIP=10.11.0.232

# Single Instance (description in params.ini) 
# CLONE_SINGLEINSTANCE=yes  # Setup Single Instance
# CLONE_SINGLEINSTANCE_HA=yes  # Setup Single Instance/HA (Oracle Restart)
