defaults {
                polling_interval        10
                user_friendly_names     yes
                find_multipaths         no
}
multipaths {
}
devices {
                device  {
                        vendor                  "3PARdata"
                        product                 "VV"
                        path_grouping_policy    group_by_prio
                        path_selector           "round-robin 0"
                        path_checker            tur
                        features                "0"
                        hardware_handler        "1 alua"
                        prio                    alua
                        failback                immediate
                        rr_weight               uniform
                        no_path_retry           18
                        rr_min_io_rq            1
                        detect_prio             yes
                        # fast_io_fail_tmo      10
                        # dev_loss_tmo          14
                        }
        }

blacklist {
}
